language: php

php:
  - 7.3.7

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction
  - cp .env.example .env
  - php artisan key:generate
  - php artisan migrate --no-interaction -vvv
#   - try {
#     DB::connection()->getPdo();
# } catch (\Exception $e) {
#     die("Could not connect to the database.  Please check your configuration. error:" . $e );
# }

script:
  - vendor/bin/phpunit
